version: '3.2'

services:
  arch:
    tty: true
    container_name: arch
    volumes:
      - .:/opt/arch
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_LOGIN=stud
      - DB_PASSWORD=stud
      - DB_DATABASE=archdb

      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_DATABASE=arch

      - CACHE_HOST=cache
      - CACHE_PORT=6379
    depends_on:
      db:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    ports:
      - 8888:8080
    networks:
      - arch-network

  structurizr:
    image: structurizr/lite
    ports:
      - 8090:8080
    volumes:
      - ./lab1:/usr/local/structurizr:z
    networks:
      - arch-network

  db:
    container_name: postgres
    image: postgres:15
    environment:
      - POSTGRES_USER=stud
      - POSTGRES_PASSWORD=stud
      - PGDATA=/data/postgres
      - POSTGRES_DB=archdb
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - arch-network

  mongodb:
    image: mongo:5.0
    container_name: mongodb
    restart: on-failure
    networks:
      - arch-network
    volumes:
      - mongodb:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    ports:
      - '27017:27017'
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  cache:
    container_name: cache
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning 
    networks:
      - arch-network
    volumes: 
      - cache:/data

volumes:
  db:
  cache:
  mongodb:

networks:
  arch-network:
    driver: "bridge"
    external: false